#login-header {
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/logo ponte.jpeg");
    background-position: center;
    height: 400px;
    color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.login-box {
    background-color: rgb(18, 33, 98);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px;
}

.login-box label {
    color: white;
    font-weight: 500;
    text-align: left;
    padding: 4px;
}

.login-box input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.login-box form {
    display: flex;
    /* modo layout flexível */
    flex-direction: column;
    /* um em cima do outro */
    padding: 4px;
}

.login-page {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f0f2f5;
}

.login-page main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao {
    background-color: #2d369b;
    color: white;
    padding: 10px 15px;
    /* O primeiro valor é altura, o segundo é a largura interna */
    border-radius: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.botao:hover {
    background-color: #777ba8;
}

.login-page footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

h3 {
    font-size: small;
}